.plans {
  padding: 5.6vw;

  h2 {
    text-align: center;
  }

  .button {
    margin-top: 2vw;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      @media (max-width: 426px) {
        padding: 40px 24px 44px;
        max-width: 100%;
      }

      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 426px) {
          margin-bottom: -60px;
        }
      }

      img {
        height: 83px;

        @media (max-width: 426px) {
          height: auto;
          max-width: 100%;
        }
      }

      strong {
        display: block;
        margin-top: 24px;
      }
    }
  }

  p {
    text-align: center;
  }
}
